@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Fira+Sans:300,400,700|Roboto+Mono:400,700');
/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap'); */

html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-size: 1.05rem;
    line-height: 1.5;
    /* font-family: "Source Sans Pro", Arial, sans-serif; */
    font-family: "PT Serif", Georgia, Times, serif;
    font-weight: 400;
    letter-spacing: -0.025rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    color: #2c4152;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 30px 1rem;
}
/* #wrapper {
    width: 700px;
    max-width: 100%;
    margin: 0 auto
} */
footer {
    font-size: 14px;
    letter-spacing: -0.01rem;
}
em {
    margin-right: 2pt
}
abbr {
    text-decoration: none;
    border-bottom: 1px dotted;
    cursor: help;
}
code, pre, .code {
    direction: ltr !important;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: 400;
}
td.code {
    font-size: 14px;
    line-height: 2.5;
    font-weight: bold;
}
code {
    padding: .2em .25em;
    font-size: 92.5%;
    letter-spacing: -0.01rem;
    color: #bf616a;
    background-color: #f8f8f8;
    border-radius: 3px;
    /*-webkit-font-smoothing: subpixel-antialiased;*/
    /*-moz-osx-font-smoothing: auto;*/
}
code:before {
    content: attr(data-language);
    line-height: 1;
    text-transform: uppercase;
    float: right;
    color: #c0c0c0;
    font-weight: bold;
    font-size: 11px;
    margin-top: .8rem;
}
code.lang-text {
    background-color: #f9f9f9;
}
pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: .86rem;
    line-height: 1.4;
    white-space: pre;
    /* white-space: pre-wrap; */
    /* word-break: break-all; */
    /* word-wrap: break-word; */
    border-radius: 5px;
    overflow: auto;
}
pre code {
    display: block;
    padding: 0;
    padding: 0 1rem 1.2rem !important;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.preview {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
    margin: 0 0 1.5rem;
    box-shadow: 0 3px 1px #f9f9f9;
    max-width: calc(100% - 2rem);
    overflow: auto;
}
.preview:before {
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 1;
    content: "preview";
    text-transform: uppercase;
    float: right;
    color: #c0c0c0;
    font-weight: bold;
    font-size: 11px;
    margin-top: -.1rem;
}

.tight {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.tight-top {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.tight-bottom {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

a {
    font-weight: bold;
    color: #428abd;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
}
td a {
    font-weight: normal;
}
a strong {
    color: inherit
}
a:hover, a:focus {
    text-decoration: underline
}
mark {
    background-color: #ffc;
}
code mark {
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.4;
    color: #313131;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* margin-bottom: .5rem; */
}
h2 {
    margin-top: 3rem;
    margin-bottom: 1rem
}
h3, h4 {
    margin-top: 1.75rem;
    margin-bottom: 1rem;
}
h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem
}
p {
    margin-top: 0;
    margin-bottom: 1rem
}
strong {
    font-weight: 700;
}
ul,ol,dl {
    margin: 0 0 1rem .2rem;
    padding: 0 1rem;
}
hr {
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    height: 1px;
    border-top: 1px solid #f0f0f0;
    background: #fff
}

table {
    border: 0;
    border-spacing: 0;
    margin: 1rem 0 2rem;
}
table tr th, table tr td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: .25rem .5rem;
    font-size: .92rem;
}
table tr th {
    border-top: 1px solid #ddd;
    background-color: #f9f9f9
}
blockquote {
    border-left: 4px solid #efcc00;
    padding: 1.1rem 0 1rem 1rem;
    margin: 1rem 0 1rem 1px;
}
blockquote p:first-of-type {
    margin-left: 2.25rem
}
blockquote p:last-of-type {
    /* margin-bottom: 0 */
}
blockquote p:first-of-type:before {
    content: '';
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiBpZD0iTGF5ZXJfMSIgdmlld0JveD0iMCAwIDY0IDY0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZWZjYzAwO30uY2xzLTJ7ZmlsbDojMzUzNTM1O308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTMwLjE2LDExLjUxLDYuODQsNTEuOWEyLjEzLDIuMTMsMCwwLDAsMS44NCwzLjE5SDU1LjMyYTIuMTMsMi4xMywwLDAsMCwxLjg0LTMuMTlMMzMuODQsMTEuNTFBMi4xMywyLjEzLDAsMCwwLDMwLjE2LDExLjUxWiIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTI5LDQ2YTMsMywwLDEsMSwzLDNBMi44OCwyLjg4LDAsMCwxLDI5LDQ2Wm0xLjA5LTQuNjYtLjc2LTE1aDUuMjZsLS43MywxNVoiLz48L3N2Zz4=') left 50% top 0 no-repeat;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    margin: -.25rem 0 0 -2.35rem
}

em code {
    font-style: normal;
}

#sidebar {
    scroll-behavior: smooth;

    background: #fff;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 60px);
    width: 220px;
    padding: 30px 20px;
    z-index: 2;
    overflow: auto;
    font-size: 15px;
    line-height: 1.4;
    /* font-family: "Source Sans Pro", Arial, sans-serif; */
    font-family: Arial, sans-serif;
}
#sidebar a {
    color: inherit;
}
#sidebar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sidebar > ul > li {
    margin-bottom: .5rem
}
#sidebar > ul > li > ul {
    margin: .5rem 0 0 0;
    padding: 0 0 0 .25rem;
}
#sidebar > ul > li > ul > li {
    list-style-type: none;
    line-height: 1.5;
}
#sidebar > ul > li > ul > li:before {
    content: "-";
    margin-right: .5rem
}
#sidebar > ul > li ul > li > a {
    font-weight: normal;
    color: #808080;
}

#mobile-menu {
    z-index: 1;
    position: fixed;
    left: 20px;
    top: 22px;
    font-size: 26px;
    font-weight: normal;
    cursor: pointer;
    color: #808080
}
#mobile-menu:hover {
    opacity: .8;
}
#wrapper {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 200px;
}
@media only screen and (min-width: 1039px) {
    #wrapper {
        padding-left: 220px;
    }
}
@media only screen and (min-width: 1279px) {
    #wrapper {
        padding: 0;
    }
}
@media only screen and (max-width: 1039px) {
    #wrapper {
        padding: 0;
    }
    #sidebar {
        left: -260px;
        background: #fcfcfc;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
    }
    #sidebar.visible {
        left: 0;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }
}
input {
    border: 1px solid #ccc;
    padding: 8px !important;
    border-radius: 3px;
    font: 14px/1 arial, sans-serif !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 780px) {
    #mobile-menu a {
        display: none;
    }
}
@media only screen and (max-width: 779px) {

    #mobile-menu {
        left: 0;
        top: 0;
        padding: 15px 20px;
        width: calc(100% - 40px);
        max-height: 60px;
        display: block;
        background: #fff;
        text-align: right;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: fixed;
        overflow: hidden;
    }
    #mobile-menu:hover {
        opacity: 1
    }
    #mobile-menu a {
        content: '';
        position: absolute;
        left: 15px;
        top: 12px;
        background-size: contain;
        width: 56px;
        height: 56px;
    }
    #mobile-menu a img {
        max-width: 100%;
    }
    #logo {
        display: none;
    }
    #wrapper > h1:first-of-type {
        margin-bottom: 10px !important;
    }
    #wrapper > h3:first-of-type {
        margin-bottom: 20px !important;
    }
    hr[id] {
        margin-bottom: 100px;
    }
    #wrapper {
        margin-top: 100px;
    }
    #sidebar > p, #sidebar > h3, #sidebar > hr {
        display: none;
    }
    #sidebar {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        background: #fff;
        font-size: 16px;
        left: 0;
        width: 100%;
        top: 69px;
        /* display: none; */
        height: 1px;
        padding: 0 20px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
    }
    #sidebar.visible {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        /* display: block; */
        height: calc(100% - 60px);
        padding: 30px 20px;
    }

    blockquote p:first-of-type {
        margin-top: 2.2rem;
        margin-left: 0;
    }
    blockquote p:first-of-type:before {
        width: 2rem;
        height: 2rem;
        margin: -2.5rem 0 0 0
    }
}
